adhive		notifications.tokensale.adhive.tv:mail:/etc/opendkim/keys/adhive.private
bananacoin		notifications.bananacoin.io:mail:/etc/opendkim/keys/bananacoin.private
sandcoin		notifications.sandcoin.io:mail:/etc/opendkim/keys/sandcoin.private
must		notifications.must.io:mail:/etc/opendkim/keys/must.private